*{
	margin: 0;
	padding: 0;
}

#info{
	
	height: 44px;
	background: #000000;
	padding: 0 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;


}

#info .contacts .item{
	padding: 0 10px;


}
#info .contacts {
	height: 16px;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #969696;
	list-style: none;

	
}
#info .contacts span{
	padding: 0 10px;
}
#info .contacts span + span{
	border-left: 1px solid #969696;


}
#info .contacts a {
	color: #969696;
	left padding: 5px;
	text-decoration: none;
	left padding: 5px;
}

#info .logon a {
	color: #969696;
	text-decoration: none;
	left padding: 5px;


}
.logon {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: right;
	color: #969696;
	list-style: none;
	
}

	



