
  
*{
	margin: 0;
	padding: 0;
}

#info{
	
	height: 45px;
	background: #000000;
	padding: 0 21%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#info .contacts .item{
	padding: 0 10px;


}
#info .contacts {
	height: 16px;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #969696;
	list-style: none;

	
}
#info .contacts span{
	padding: 0 10px;
}
#info .contacts span + span{
	border-left: 1px solid #969696;


}
#info .contacts a {
	color: #969696;
	left padding: 5px;
	text-decoration: none;
	left padding: 5px;
}

#info .logon a {
	color: #969696;
	text-decoration: none;
	left padding: 5px;


}
.logon {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: right;
	color: #969696;
	list-style: none;
	
}
#Navigation {
	display: flex;
	justify-content:space-between;
	padding: 0 0;
	height: 100%;
	background: #0F0F0F;

}
#Navigation .menu li{

	display: inline;
	padding: left	20px;
}
.porten{
	display: inline-block;
	/*text-align: center;*/
	padding: 0 0;
	height: 49px;
	/*widows: 104px;*/
	margin-top: 10px;
	padding-left: 350px;
	

}




#search  {
	height: 16px;
	padding-left: 10px;
	color: white;
	text-decoration: none;


}
#basket {
	height: 16px;
	color: white;
	text-decoration: none;
}
 .menu  {
	display: inline;
	list-style-type: none;		
	height: 18px;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 30px;
	text-decoration: none;
}
#bag {
	height: 100%;
	display: flex;
	justify-content:center;
	background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(.jpg);

}
.Ramka{
	position: absolute;
	width: 320px;
	height: 320px;
	left: 800px;
	top: 350px;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
}
.Ramka .PORTEN{
	height: 86px;
	left: 867px;
	top: 100px;
	font-family: Post No Bills Jaffna;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 120px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: underline;
}
.Ramka .SPB{
	

	height: 44px;
	left: 700px;
	top: 466px;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 310px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;

}
.Discription{
	position: absolute;
	width: 730px;
	height: 96px;
	left: 595px;
	top: 684px;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}








	


